{% load i18n %}
<div class="navbar bg-base-100">
    <div class="navbar-start">
        <div id="menu-toggle" tabindex="0" role="button" class="btn btn-ghost btn-circle">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor">
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h7"/>
            </svg>
        </div>
    </div>
    <div class="navbar-center">
        <a class="btn btn-ghost text-xl" href="{% url 'admin:index' %}">
            {% trans "Dashboard" %}
        </a>
    </div>
    <div class="navbar-end">
        <div class="dropdown dropdown-bottom">
            <div tabindex="0" role="button" class="btn btn-sm m-1">
                {% trans "Theme" %}
                <svg
                        width="12px"
                        height="12px"
                        class="inline-block h-2 w-2 fill-current opacity-60"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 2048 2048">
                    <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
                </svg>
            </div>
            <ul tabindex="0" class="dropdown-content  bg-base-300 rounded-box z-20 w-48 p-2 shadow-2xl">
                <li>
                    <input
                            data-set-theme="light" data-act-class="ACTIVECLASS"
                            type="radio"
                            name="theme-dropdown"
                            class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                            aria-label="Light"
                            value="light"/>
                </li>
                <li>
                    <input
                            type="radio"
                            name="theme-dropdown"
                            class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                            aria-label="Dark"
                            value="dark"
                            data-act-class="ACTIVECLASS"
                            data-set-theme="dark"
                    />
                </li>
                <li>
                    <input
                            type="radio"
                            name="theme-dropdown"
                            class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                            aria-label="Dracula"
                            value="dracula"
                            data-act-class="ACTIVECLASS"
                            data-set-theme="dracula"
                    />
                </li>
                <li>
                    <input
                            type="radio"
                            name="theme-dropdown"
                            class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                            aria-label="Dim"
                            value="dim"
                            data-act-class="ACTIVECLASS"
                            data-set-theme="dim"
                    />
                </li>
                <li>
                    <input
                            type="radio"
                            name="theme-dropdown"
                            class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                            aria-label="Lemonade"
                            value="lemonade"
                            data-act-class="ACTIVECLASS"
                            data-set-theme="lemonade"
                    />
                </li>
                <li>
                    <input
                            type="radio"
                            name="theme-dropdown"
                            class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                            aria-label="Autumn"
                            value="autumn"
                            data-act-class="ACTIVECLASS"
                            data-set-theme="autumn"
                    />
                </li>
            </ul>
        </div>
        <button class="btn btn-ghost btn-circle">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor">
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
            </svg>
        </button>
        <button class="btn btn-ghost btn-circle">
            <div class="indicator">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor">
                    <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"/>
                </svg>
                <span class="badge badge-xs badge-primary indicator-item"></span>
            </div>
        </button>


    </div>
</div>