{% load i18n %}
{% load static %}
{% load dash_tags %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<html data-theme="" class="custom-scrollbars" lang="{{ LANGUAGE_CODE|default:"en-us" }}"
      {% if LANGUAGE_BIDI %}dir="rtl"
      {% else %}dir="ltr"{% endif %}>

<head>
    <script>
        /* set selected theme before everything
        * to avoid color flash on refresh
        *  */
        function getSystemColorScheme() {
            try {
                if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    return 'dark';
                } else if (window.matchMedia && window.matchMedia('(prefers-color-scheme: light)').matches) {
                    return 'light';
                } else {
                    return 'light';  // In case the user's preference is not explicitly set.
                }
            } catch (e) {
                return 'light'
            }
        }

        document.documentElement.setAttribute(
            'data-theme', localStorage.getItem('theme') || getSystemColorScheme()
        )
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
    </title>
    {% should_load_full_daisyui_styles as should_load %}
    {% if should_load %}
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.13/dist/full.min.css" rel="stylesheet"
              type="text/css"/>
        <script src="{% static "admin/js/tailwind-3.4.5.js" %}"></script>
        <link href="{% static 'admin/css/tailwind.css' %}" rel="stylesheet">
    {% else %}
        <link href="{% static 'admin/css/tailwind.css' %}" rel="stylesheet">
    {% endif %}

    <link rel="stylesheet" href="{% static 'admin/fonts/fontawesome-free-6.6.0-web/css/all.min.css' %}"/>
    <link href="{% static "admin/css/tom-select.min.css" %}" rel="stylesheet">


    {% block body_font %}
        {% if LANGUAGE_BIDI %}
            <style>
                @font-face {
                    font-family: 'Vazir';
                    src: url("{% static 'admin/fonts/Vazir.woff2' %}") format('woff');
                    font-weight: normal;
                    font-style: normal;
                }
            </style>
        {% else %}
            <style>
                @font-face {
                    font-family: 'Cantarell';
                    src: url("{% static 'admin/fonts/Cantarell/Cantarell-Regular.ttf' %}") format('truetype');
                    font-weight: normal;
                    font-style: normal;
                }
            </style>
        {% endif %}
    {% endblock %}


    {% block extrahead %}{% endblock %}
    {% block extrastyle %}{% endblock %}
</head>

<body class="bg-base-200 {% if LANGUAGE_BIDI %}font-vazir{% else %}font-cantarell{% endif %} ">

<div class="flex min-h-screen">
    {% if not is_popup and is_nav_sidebar_enabled %}
        {% block nav-sidebar %}
            {% include "admin/parts/sidebar.html" with app_list=available_apps %}
        {% endblock %}
    {% endif %}
    <!-- Main content -->
    <div id="content" class="w-full h-auto main-wrapper transition-all duration-200 ease-in-out">
        <div class="h-full flex flex-col">
            {% block top-navbar %}
                {% if not is_popup %}
                    {% include 'admin/parts/navbar.html' %}
                {% endif %}
            {% endblock %}

            <div class="content-wrapper h-full max-md:p-3 p-5">
                <div class="flex items-center flex-wrap px-2 justify-between">

                    <h3 class="text-lg font-medium">
                        {% block content_title %}{{ cl.opts.app_config.verbose_name }}{% endblock %}
                    </h3>
                    {% if not is_popup %}
                        {% block breadcrumbs %}{% endblock %}
                    {% endif %}
                </div>

                <div class="main-content h-full">
                    {% block messages %}
                        {% if messages %}
                            <ul class="messagelist mb-5">
                                {% for message in messages %}
                                    <div role="alert" class="alert









                                            {% if message.tags %}{{ message.tags }} {% endif %} alert-info rounded mb-1">
                                        <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                class="h-6 w-6 shrink-0 stroke-current">
                                            <path
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="2"
                                                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                        </svg>
                                        <div>
                                            {{ message|capfirst }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endblock messages %}
                    {% block content %}
                        {{ content }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
<form id="logout-form" class="hidden" method="post" action="{% url 'admin:logout' %}">
    {% csrf_token %}
    <button type="submit"></button>
</form>

<input type="checkbox" id="generalModal" class="modal-toggle"/>
<dialog class="modal generalModal">
    <div class="modal-box w-11/12 max-w-5xl h-full p-0 flex justify-center items-center">
        <button class="btn">
            <span class="loading loading-spinner"></span>
            loading
        </button>
    </div>
    <label class="modal-backdrop" for="generalModal">Close</label>
</dialog>


<script src="{% static "/admin/js/vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "/admin/js/jquery.init.js" %}"></script>
<script src="{% static "admin/js/tom-select.complete.min.js.js" %}"></script>
<script src="{% static "admin/js/theme-change.js" %}"></script>
<script defer src="{% static 'admin/tinymce/tinymce.min.js' %}"></script>
<script defer src="{% static 'admin/js/SelectBox.js' %}"></script>
<script src="{% static 'admin/js/admin/dashboard.js' %}"></script>

{% block scripts %}

{% endblock %}

</body>
</html>
