{% load i18n admin_urls %}

{% block object-tools-items %}
    {% if has_add_permission %}
        {% url cl.opts|admin_urlname:'add' as add_url %}
        <a href="{% add_preserved_filters add_url is_popup to_field %}" class="btn primary-content btn-sm btn-primary ">
            <i class="fa fa-plus"></i>
            {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
        </a>
    {% endif %}
    <div class="indicator {% if SHOW_CHANGELIST_FILTER %} xl:hidden {% endif %}">
        {% if active_filters_count %}
            <span class="indicator-item badge badge-info">{{ active_filters_count }}</span>
        {% endif %}
        {% if cl.list_filter %}
            <button type="button" id="open-filter-drawer"
                    class="btn btn-sm btn-primary drawer-button">
                <i class="fa fa-filter"></i>
            </button>
        {% endif %}
    </div>
{% endblock %}
