{% load i18n static %}
{% if cl.search_fields %}

    <div class="inline-flex items-center w-80">
        <div id="changelist-search" method="get" role="search" class="flex items-center w-full" >
            <div class="form-control flex flex-row items-center rounded-sm border border-base-content/20 ps-3 w-full">
                <label for="searchbar" class="flex items-center">
                    <i class="fa fa-search text-gray-400"></i>
                </label>
                <input
                        type="text"
                        size="40"
                        name="{{ search_var }}"
                        value="{{ cl.query }}"
                        id="searchbar"
                        placeholder="{% trans "Search along" %} {{ cl.opts.verbose_name_plural }}"
                        class="input w-full border-0 focus:border-transparent focus:outline-0 transition-all input-sm focus:outline-offset-0"
                        {% if cl.search_help_text %} aria-describedby="searchbar_helptext"{% endif %}
                >
                <input type="button" value="{% translate 'Search' %}" class="rounded search-submit btn btn-sm">
            </div>

            {% for pair in cl.params.items %}
                {% if pair.0 != search_var %}
                    <input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}">
                {% endif %}
            {% endfor %}
            {% if cl.search_help_text %}
                <div class="help mt-2" id="searchbar_helptext">{{ cl.search_help_text }}</div>
            {% endif %}
        </div>
    </div>

{% endif %}
