{% load static %}
{% if widget.is_initial %}
    <p class="file-upload">
    {% if not widget.required %}
        <span class="clearable-file-input">
            <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"
                   {% if widget.attrs.disabled %}disabled{% endif %}>
            <label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
        </span>
    {% endif %}
    <br>
{% endif %}
{% include 'django/forms/widgets/file.html' %}
{% if widget.is_initial %}
    </p>
    <a class="link text-xs p-2" target="_blank" href="{{ widget.value.url }}">
        {{ widget.initial_text }}:
        {{ widget.value|truncatechars:50 }}
    </a>
{% endif %}
